<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>App</title>

    <div th:replace="templates/fragments/app/fragments.html :: __common_scripts"></div>

    <script type="text/javascript" src="../../static/js/app.js"></script>

    <link rel="stylesheet" type="text/css" href="../../static/css/app.css"/>
</head>
<body>

<div id="app-home-header" class="header green" th:replace="templates/fragments/app/fragments.html :: __header">
    This is the static header
</div>

<!--MOUNT POINT-->
<div id="app-home-body"></div>

</body>
</html>