.container {
  height: 100%;
  text-align: center;
  white-space: nowrap;
}
.container :before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
.container-centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}
