<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--Install GrepConsole plugin and configure it using the button in the console menu to allow ANSI coloring-->

            <!--DEV SETTINGS: Includes some rather expensive location based information (line number, calling method) -->
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} %-5level %logger{36}.%method() @%line - %msg%n}{FATAL=magenta bright, ERROR=red bright blink, WARN=yellow bold, INFO=white, DEBUG=green bold, TRACE=blue}"/>

            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{5} - %msg%n"/>-->
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>