<!--THYMELEAF XHTML COMPLIANT HEADER-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<form action="/app/doLogin" method="post">
    <label for="username">Username:</label>
    <input id="username" name="username" type="text"/>

    <label for="password">Password:</label>
    <input id="password" name="password" type="password"/>

    <input type="hidden" name="return_url" value="/app/app.html"/>

    <button type="submit">Login</button>
</form>

</body>
</html>