<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FRAGMENTS</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/app.css"/>
</head>
<body>

<!--OR... th:remove="tag" to remove the outer tag-->
<th:block th:fragment="__common_scripts">
    <script type="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
    <!--<script type="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react.js"></script>-->
    <!--<script type="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-dom.js"></script>-->
</th:block>

<div th:fragment="__header" class="header green">
    <form action="/app/logout" method="post">
        <button>Logout</button>
    </form>
</div>

</body>
</html>